<!DOCTYPE html>
<html>
    {% extends 'base.html' %}
    {% load i18n %}
    {% load bootstrap4 %}
<head>
    <meta charset="UTF-8">
</head>
<body>
    {% block title %} | {% trans "DeleteStatusTitle" %} {% endblock %}
    {% block content %}

    <div class="container wrapper flex-grow-1">

        {% bootstrap_messages %}

        <h1 class="my-4">{% trans "DeleteStatusTitle" %}</h1>

        <p>{% trans "SureDeleteStatusQuestion" %} {{ object.name }}?</p>

        <form method="post">
            {% csrf_token %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% trans "SureDeleteButton" %}
                </button>
            {% endbuttons %}
        </form>
    </div>
    {% endblock %}
</body>
</html>