<!DOCTYPE html>
<html>
    {% extends 'base.html' %}
    {% load i18n %}
    {% load bootstrap4 %}
<head>
    <meta charset="UTF-8">
</head>
<body>
    {% block title %} | {% trans "StatusesTitle" %} {% endblock %}
    {% block content %}

    <div class="container wrapper flex-grow-1">

        {% bootstrap_messages %}

        <h1 class="my-4">{% trans "StatusesTitle" %}</h1>

        <a class="nav-link" href="{% url 'create_status' %}">{% trans "CreateStatusTitle" %}</a>

        <table class="table table-striped">
            <thead>
              <tr>
                <th>{% trans "IdTitle" %}</th>
                <th>{% trans "NameTitle" %}</th>
                <th>{% trans "CreationDateTitle" %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% for status in all_statuses %}
                <tr>
                    <td>{{ status.id }}</td>
                    <td>{{ status.name }}</td>
                    <td>{{ status.creation_date|date:"SHORT_DATE_FORMAT" }} {{ status.creation_date|time:"H:i" }}</td>
                    <td>
                      <a href="{% url 'update_status' status.id %}">{% trans "EditTitle" %}</a>
                      <br>
                      <a href="{% url 'delete_status' status.id %}">{% trans "DeleteTitle" %}</a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>
</html>