<!DOCTYPE html>
<html>
    {% extends 'base.html' %}
    {% load i18n %}
    {% load bootstrap4 %}
<head>
    <meta charset="UTF-8">
</head>
<body>
    {% block title %} | {% trans "Create a label" %} {% endblock %}
    {% block content %}

    <div class="container wrapper flex-grow-1">

        {% bootstrap_messages %}

        <h1 class="my-4">{% trans "Create a label" %}</h1>

        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% trans "Create" %}
                </button>
            {% endbuttons %}
        </form>
    </div>
    {% endblock %}
</body>
</html>