<!DOCTYPE html>
<html>
    {% extends 'base.html' %}
    {% load i18n %}
    {% load bootstrap4 %}
<head>
    <meta charset="UTF-8">
</head>
<body>
    {% block title %} | {% trans "Main page" %} {% endblock %}
    {% block content %}
    
    <div class="container wrapper flex-grow-1">

        {% bootstrap_messages %}

        <main role="main" class="container">
            <div class="jumbotron">
            <h1>{% trans "Task manager" %}</h1>
            <p class="lead">{% trans "A web application that allows you to set tasks, change its statuses and assign executors. Registration and authentication are required to work with the system." %}</p>
            </div>
        </main>

    </div>

    {% endblock %}
</body>
</html>