<!DOCTYPE html>
<html>
    {% extends 'base.html' %}
    {% load i18n %}
    {% load bootstrap4 %}
<head>
    <meta charset="UTF-8">
</head>
<body>
    {% block title %} | {% trans "Viewing a task" %} {% endblock %}
    {% block content %}

    <div class="container wrapper flex-grow-1">

        {% bootstrap_messages %}

        <h1 class="my-4">{% trans "Viewing a task" %}</h1>

        <div class="card">
            <div class="card-header bg-secondary text-white">
                <h2>{{ object.name }}</h2>
            </div>
            <div class="card-body bg-light">
                <p>{{ object.description }}</p>
                <hr>
                <div class="container">
                    <div class="row p-1">
                        <div class="col">{% trans "Author" %}</div>
                        <div class="col">{{ object.author }}</div>
                    </div>
                    <div class="row p-1">
                        <div class="col">{% trans "Executor" %}</div>
                        <div class="col">{{ object.executor|default_if_none:"" }}</div>
                    </div>
                    <div class="row p-1">
                        <div class="col">{% trans "Status" %}</div>
                        <div class="col">{{ object.status }}</div>
                    </div>
                    <div class="row p-1">
                        <div class="col">{% trans "Creation date" %}</div>
                        <div class="col">{{ task.creation_date|date:"SHORT_DATE_FORMAT" }} {{ task.creation_date|time:"H:i" }}</div>
                    </div>
                    <div class="row p-1">
                        <div class="col">
                            <h6>{% trans "Labels" %}:</h6>
                            <ul>
                                {% for label in object.labels.all %}
                                    <li>{{ tag }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col">
                            <a href="{% url 'update_task' task.id %}">{% trans "Edit" %}</a>
                            <br>
                            <a href="{% url 'delete_task' task.id %}">{% trans "Delete" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>