<!DOCTYPE html>
<html>
    {% extends 'base.html' %}
    {% load i18n %}
<head>
    <meta charset="UTF-8">
</head>
<body>
    {% block title %} | {% trans "LoginTitle" %} {% endblock %}
    {% block content %}

    <div class="container wrapper flex-grow-1">

        <h1 class="my-4">{% trans "LoginTitle" %}</h1>

        <form method="post">
            {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value='{% trans "LoginButton" %}'>
        </div>
        </form>
    </div>
    {% endblock %}
</body>
</html>